.kvadratas {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 40px;
    border: 10px solid #ccc;
    border-radius: 4px;
    border-color: rgb(240, 245, 175);
    background-color: #ddd;
    box-shadow: 0 4px 12px #0002;
    transition: all 1s;
}
.kvadratas:hover {
    transform: rotate(30deg);
    border-color: rgba(241, 65, 197, 0.795);
}

.apskritimas {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 40px;
    border: 10px solid #36f;
    border-radius: 50%;
    background-color: #47e;
    box-shadow: 0 4px 12px #0002;
    transition: all 1s;
}
.apskritimas:hover {
    transform: scale(1.25);
    border-color: rgba(174, 231, 245, 0.685);
}